.carouselContainer {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.95;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.tripImg {
  border: 3px solid white;
  border-radius: 5%;
  object-fit: cover;
  transition: 0.3s ease;

  @media screen and (min-width: 1024px) {
    max-width: 20%;
    height: 500px;
  }

  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1); /* soft shadow */
    transform: scale(1.1);
  }
}
