.layoutContainer {
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: fadeIn 1s ease-in-out forwards;

  &.dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/layout.webp");
  }

  &.light {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url("/layout.webp");
  }

  .topContent {
    & > :first-child {
      height: 100%;
    }

    box-shadow: var(--shadow-1);
  }

  .bottomContent {
    &.dark {
      background-color: rgba(0, 0, 0, 0.3);
    }

    &.light {
      background-color: rgba(255, 255, 255, 0.2);
    }

    & > :first-child {
      height: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.95;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
